@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/_global.scss";
@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker {
  border: solid $grey-bordercolor 1px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.react-datepicker__header {
  background-color: $sidebar-green;
}
.react-datepicker__current-month {
  color: $sidebar-fontcolor;
}
.react-datepicker__day-name {
  color: $sidebar-fontcolor;
  font-weight: 500;
}
.react-datepicker__day {
  &:hover {
    background-color: $hover-bg;
  }
}
.react-datepicker__day--disabled {
  &:hover {
    background-color: $inactive-bg;
  }
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  background-color: $border-green !important;
  &:hover {
    background-color: $border-green !important;
  }
}
.inactiveBtn {
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: $inactive-bg;
  color: $inactive-color;
  text-align: center;
  border-radius: 0.3rem;
}
.toggleActiveBtn {
  @extend .inactiveBtn;
  background-color: $sidebar-green;
  color: $sidebar-fontcolor;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
