@import "../../styles/mixins";
@import "../../styles/variables";

.gridGroupRow {
  @include gridTableRow(3);
  text-transform: capitalize;
  @include min-sm {
    @include gridTableRow(5);
  }
}
.gridGroupRowWithBorder {
  @extend .gridGroupRow;
  color: $black-color;
  border-bottom: solid $grey-lightBorderColor 1px;
}
.gridGroupRowNoBorder {
  @extend .gridGroupRowWithBorder;
  border-bottom: none;
}
