//colors

//grey shades
$client-grey: #7f8487;
$line-grey: #cdd0cb;
$grey-bordercolor: #cdd0cb;

//black and white
$white-color: #ffffff;
$black-color: #000000;

//red shades
$dark-red: #7c0952;
$hover-red: #690745;

//greens shades
$background-green: #f4f7f6;
$sidebar-green: #e4efe7;
$sidebar-fontcolor: #053d1d;
$body-green: #064420;
$hover-green: #88bfa1;
$box-green: #244736;

//screen sizes
$xs: "0px";
$sm: "600px";
$md: "900px";
$lg: "1200px";
$xl: "1536px";
