//colors
$client-grey: #7f8487;
$white-color: #ffffff;
$background-green: #f4f7f6;
$dark-red: #7c0952;
$hover-red: #690745;
$black-color: #000000;
$sidebar-green: #e4efe7;
$sidebar-fontcolor: #053d1d;
$line-grey: #CDD0CB;
$searchbar-green: #053D1D;
