//colors

//grey shades
$client-grey: #7f8487;
$grey-bordercolor: #cdd0cb;
$grey-lightBorderColor: #ebe7e9;
$grey-boxText: #3f433d;
$placeholder-grey: #a1a2a9;
$inactive-color: #4f4c4c;
$inactive-bg: #f2f2f2;

//black and white
$white-color: #ffffff;
$black-color: #000000;

//red shades
$dark-red: #7c0952;
$hover-red: #690745;

//greens shades
$hover-bg: #eaf5f2;
$background-green: #f4f7f6;
$sidebar-green: #e4efe7;
$sidebar-fontcolor: #053d1d;
$body-green: #064420;
$hover-closeButton: #245236;
$hover-green: #88bfa1;
$box-green: #244736;
$button-green: #cfdac8;
$button-hover: #c0cbb9;
$border-green: #698474;
$edit-green: #519872;

//yellow
$checkbox-yellow: #EDE68A;
//screen sizes
$xs: "0px";
$sm: "600px";
$md: "900px";
$lg: "1200px";
$xl: "1536px";
