@import "/src/styles/variables";
@import "/src/styles/mixins";
.container {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  width: 85%;
  height: calc(100vh - 3.8rem);
  padding-top: 2.4rem;
  padding-bottom: 3rem;
  background-color: $sidebar-green;
  color: $sidebar-fontcolor;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 1;
  transform: translate(100%);
  transition: transform ease-in-out 0.8s;
  overflow-y: auto;
  @include min-sm {
    width: 38%;
  }
  @include min-md {
    height: calc(100vh - 4.4rem);
    width: 30%;
  }
  @include min-lg {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 3rem;
    z-index: 0;
    transform: none;
    transition-property: none;
  }
}
.containerOn {
  @extend .container;
  //for below lg screens
  @include max-lg {
    transform: translateX(0);
  }
}
.searchbar-container {
  position: relative;
  padding: 0 1.8rem 0 1.8rem;
}
.searchbar-styles {
  position: relative;
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
  color: $sidebar-fontcolor;
  border: none;
  border-radius: 0.8rem;
}
.searchbar-icon {
  position: absolute;
  right: 2.8rem;
  bottom: 0.85rem;
  color: $sidebar-fontcolor;
}

.menu {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;

  @include min-sm {
    padding-top: 1rem;
  }
  @include min-lg {
    padding-top: 0rem;
  }
}
.link-style {
  text-decoration: none;
}
.single-menu {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  border-bottom: solid $grey-bordercolor;
  border-width: 0.12rem;
  color: $sidebar-fontcolor;
  font-size: 1.2rem;
  font-weight: 500;
  &:hover {
    background-color: $hover-green;
    color: $black-color;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}
.menu-data {
  @extend .single-menu;
  border: none;
}
.menuMobile {
  display: block;
  @include min-lg {
    display: none;
  }
}
.menu-data-mobile {
  @extend .single-menu;
  border-bottom: 0;
  border-top: solid $grey-bordercolor;
  border-width: 0.12rem;
}
