@import "/src/styles/variables";

.header-box {
  position: fixed;
  top: 0;
  right:0;
  left:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.4rem;
  padding-left: 1rem;
  padding-right: 4rem;
  background-color: $white-color;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.client-name {
  color: $client-grey;
}
.circle {
  color: $dark-red;
  font-size: 1.8rem;
  &:hover {
    color: $hover-red;
    cursor: pointer;
  }
}
.client-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.logo {
    &:hover {
        cursor: pointer;
    }
}
.dropdown-client {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 3.6rem;
  right: 3rem;
  width: 10rem;
  height: 5.2rem;
  padding: 0.4rem;
  background-color: $white-color;
  font-size: 1rem;
  font-weight: 100rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  z-index: 1000;
}

.icon-gap {
  padding-right: 0.6rem;
}
.dropdown-content {
    padding: 0.4rem 1rem;
    color: $black-color;
    text-decoration: none;
  &:hover {
    background-color: $background-green;
    border-radius: 0.3rem;
    cursor: pointer;
  }
}

