@import "../../styles/mixins";
@import "../../styles/variables";

.stableForm {
  @include formBox;
  top: 20%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  z-index: 1000;
}
.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
